*{
    margin: 0%;
    
}
#firstdiv{
    background-color: antiquewhite;
}
.para1{
    font-size: 12;
    padding: 10px;
    text-align: center;
}
.boxdiv{
    margin: 50px;
}

.icons{
    margin: 40px;
    opacity: 70%;
}

#lastdiv{
    background-image: url("./healthyleaving.jpg");
    background-repeat: no-repeat;
     background-size: 100% ;
    height: 350px;
    margin-top: 6%;
    opacity: 90%;
}
.container{
    padding:30px;
    
}
.p{
    font-weight: bold;
    
}
@media (min-width:657px) and (max-width:836px){
   #firstinnerdiv > div{
       margin:23px;
   }
   #secinnerdiv > div{
       margin: 23px;
   } 
}


